VITE_SUPABASE_URL=https://ykvfivbjqehdntkulzrn.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ci_xL-VDfgXTdEARlnGjCQ_mWlzsPw3
VITE_API_URL=http://localhost:4010

SUPABASE_URL=https://ykvfivbjqehdntkulzrn.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_ci_xL-VDfgXTdEARlnGjCQ_mWlzsPw3
CLIENT_ORIGIN=http://localhost:5174
PORT=4010
